/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  nav > div {
    padding: 0 3rem !important;
  }

  .btn-close-custom {
    margin-right: 3rem !important;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .text--primary,
  .img-tag {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .hero-banner-logo {
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
  }

  .level {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .level-desc {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
  }

  .hero-banner-bar {
    background: var(--color-tertiary);
    width: 2px;
    height: 51px;
  }

  .btn-bg {
    padding: 1.5rem 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav > div {
    padding: 0 5rem !important;
  }

  .btn-close-custom {
    margin-right: 5rem !important;
  }

  .name-tag {
    font-size: 2.2rem;
  }

  .line {
    font-size: 2.2rem;
  }

  .heading-primary {
    font-size: 4rem;
    grid-area: heading; /* to use for skills section */
  }

  .heading-secondary {
    font-size: 3rem !important;
  }

  .text--primary,
  .img-tag {
    font-size: 2.2rem;
  }

  .text-secondary {
    text-align: justify;
  }

  .hero-banner-logo {
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
  }

  .level {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .level-desc {
    font-size: 1.8rem;
  }

  .hero-banner-bar {
    height: 80px;
  }

  .btn-bg {
    padding: 1.5rem 4rem;
  }

  .skills-content {
    display: grid;
    grid-template-areas:
      "heading heading"
      "info skills";
  }

  .heading-info {
    grid-area: info;
  }

  .skills {
    grid-area: skills;

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .skill {
    padding: 1rem;
    width: 30%;
  }

  .projects {
    grid-template-columns: 30rem 1fr;
  }

  .projects-link a,
  .projects-link button {
    text-align: justify !important;
  }

  .card-title {
    font-size: 2.2rem;
    line-height: 1.5;
  }

  .card-text {
    font-size: 1.6rem;
  }

  .card-text--sm {
    font-size: 1.2rem;
  }

  .projects-link {
    width: 100%;
    transform: none;
  }

  .text--footer {
    font-size: 1.8rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.8rem;
    padding: 0 0 0 2.5rem !important;
  }

  .hero-socials {
    display: block;
    margin-left: -0.7rem;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 27%;
    transform: translateY(-50%);
    background: var(--color-primary);
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 0.5rem;
  }

  .contacts {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-section {
    height: 50rem;
  }

  .footer {
    grid-template-columns: 1fr 35rem;
    gap: 2rem;
  }

  .footer::after {
    top: calc(75%);
  }

  .footer-left {
    order: -1;
  }

  .footer-right-nav {
    display: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav-link {
    padding: 0 0 0 6rem !important;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .nav-link {
    padding: 0 0 0 8rem !important;
  }

  .heading-primary {
    font-size: 5rem;
  }
}
