:root {
  --color-primary: #ffff;
  --color-secondary: #000;
  --color-tertiary: #14b8a6;
  --color-bg: #fafafa;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

/* navbar */
nav {
  height: 9.8rem;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

nav > div {
  padding: 0 1rem !important;
}

.name-tag {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}

.name-tag:hover {
  color: var(--color-tertiary);
  transition: all 0.3s;
}

.line {
  font-size: 1.8rem;
  color: var(--color-tertiary);
}

.position {
  font-size: 1.6rem;
  padding: 0 0.3rem;
  font-weight: lighter;
}

.navbar-toggler {
  background: var(--color-primary);
  border: 1px solid var(--color-tertiary);
  font-size: 1.8rem;
}

.navbar-toggler:hover {
  background: var(--color-tertiary) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas-area {
  width: 100vw !important;
  transition: transform 0.6s ease-in-out !important;
}

.btn-close-custom {
  display: inline-block;
  border: 1px solid var(--color-tertiary);
  font-size: 1.8rem;
  width: 3.3rem;
  height: 2.3rem;
  margin: 2.5rem 0 0 0 !important;
}

.offcanvas-body {
  display: grid;
  place-items: center;
}

.btn-close-custom:hover {
  background: var(--color-tertiary);
}

.nav-link {
  font-size: 1.6rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 0 8rem 0 !important;
}

.nav-link:hover {
  color: var(--color-tertiary);
  transition: all 0.3s;
}

/* hero-section */
.hero-section {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/assets/common-bg.svg);
  background-position: center;
  height: calc(100vh - 9.8rem);
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.heading-primary {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: var(--color-secondary);
  font-weight: 800;
}

.heading-info {
  margin: 3rem auto 0 auto;
}

.text--primary {
  color: var(--color-secondary) !important;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  line-height: 1.4;
}

.hero-banner {
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 0;
  padding: 2rem 0;
  border: 2px solid var(--color-tertiary);
  border-radius: 1000000rem;
}

.hero-banner-info {
  align-items: center;
  gap: 1rem;
}

.hero-banner-logo {
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  border: 2px solid var(--color-tertiary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.level {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.level-desc {
  color: var(--color-tertiary);
  font-size: 1.2rem;
  margin: 0 !important;
}

.hero-banner-bar {
  background: var(--color-tertiary);
  width: 2px;
  height: 39px;
}

.hero-cta {
  margin-top: 5rem;
  text-align: center;
}

.btn-bg {
  background: var(--color-tertiary);
  color: var(--color-primary);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

.btn-bg:hover {
  color: var(--color-secondary);
  transform: translate(-2px, -2px);
  transition: all 0.3s;
}

.hero-socials {
  display: none;
}

.hero-mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
@keyframes wheel {
  100% {
    opacity: 0;
    top: 27px;
  }
}

/* skills section */
.skills-section {
  padding: 10rem 0;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
}

.skills-content {
  max-width: 90rem;
  width: 92%;
  margin: 0 auto;
}

.heading-secondary {
  position: relative;
}

.heading-secondary::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-tertiary);
  border-radius: 10px;
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}

.skills {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 10rem 0 0 0;
}

.skill {
  padding: 1rem;
  width: 50%;
}

.img-tag {
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}

/* projects-section */
.projects-section {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/assets/common-bg.svg);
  background-position: center;
  height: 110rem;
  max-height: height;
  position: relative;
}

.projects-content {
  max-width: 90rem;
  width: 92%;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects {
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 10rem 0 0 0;
}

.show-default-link {
  color: var(--color-tertiary) !important;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  line-height: 1.4;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  line-height: 1.2;
}

.card-text--sm {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  line-height: 1.2;
}

.btn-project-link:link,
.btn-project-link:visited {
  background: var(--color-tertiary);
  color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-project-link:hover,
.btn-project-link:active {
  background: var(--color-tertiary);
  color: var(--color-secondary);
}

.btn-project-link > i {
  font-size: 2rem;
}

.btn--links {
  gap: 0.3rem;
}

.projects-link {
  width: 50%;
  transform: translate(50%);
}

/* about section */
.about-section {
  padding: 10rem 0;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
}

.about-content {
  max-width: 90rem;
  width: 92%;
  margin: 0 auto;
}

.abouts {
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 10rem 0 0 0;
}

.about-me-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.about-me-img img {
  width: 150px;
  border-radius: 50%;
}

.about-me-firt-sec {
  grid-template-columns: repeat(2, 1fr);
}

.about--me-text {
  text-align: justify !important;
}

/* contact-section */
.contact-section {
  padding: 10rem 0;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/assets/common-bg.svg);
  background-size: cover;
  background-position: center;
}

.contact-content {
  max-width: 90rem;
  width: 92%;
  margin: 0 auto;
}

.contacts {
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 10rem 0 0 0;
}

.contacts-socials {
  display: flex;
  border-radius: 5px;
  background: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
  gap: 3.5rem;
}

.hero-social {
  width: 5rem;
}

.hero-social-icon-link {
  width: 100%;
  display: block;
  padding: 1.2rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.hero-social-icon {
  width: 100%;
  border-radius: 50%;
}

.hero-social-icon-link:hover {
  background: var(--color-tertiary);
}

.contacts > p {
  margin-top: 1rem;
}

.contacts-email {
  border-radius: 5px;
  background: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 1rem 3rem;
  gap: 0.5rem;
}

.contacts-email > span {
  letter-spacing: 2px;
}

.contacts-email:hover {
  background: var(--color-tertiary);
}

.send-icon {
  padding: 0.7rem;
  border: 1px solid var(--color-tertiary);
  border-radius: 50%;
}

.contacts-email:hover > .send-icon {
  border-color: var(--color-primary);
}

/* footer */
.footer-section {
  background: var(--color-secondary);
  height: 70rem;
  position: relative;
}

.footer-content {
  max-width: 90rem;
  width: 92%;
  margin: 0 auto;
  color: var(--color-primary) !important;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 10rem;
}

.footer-left {
  order: 1;
}

.footer-left > div > p {
  color: var(--color-primary) !important;
}

.heading-footer {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer-right-nav {
  margin-bottom: 3rem;
}

.footer-right-nav > div {
  border-radius: 5px;
  background: transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}
.footer-right-nav > div > a {
  font-size: 1rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.footer-right-links {
  margin: 4rem 0;
  background: var(--color-bg) !important;
}

.footer::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-tertiary);
  border-radius: 10px;
  position: absolute;
  top: calc(88%);
  left: 50%;
  transform: translateX(-50%);
}

.text--footer {
  text-align: justify !important;
}

.text--copy-right {
  font-size: 1.2rem;
}

.nav-link-footer:hover {
  color: var(--color-tertiary);
  transition: all 0.3s;
}
